<div id='container'>
  <header>
    <div id='logo'>
      <button class='need_to_hover'>
        <img src='/icons/logo.svg' alt='' />
      </button>
    </div>
    <nav class='menu'>
      <ul>
        <li><a href='#'>Main</a></li>
        <li><a href='/catalog'>Catalog</a></li>
        <li><a href='/myposts' id='last_a'>Your Posts</a></li>
      </ul>
    </nav>
    <div id='buttons_nav'>
      <button id='last_btn' class='need_to_hover'>
        <a href='/basket'><img src='/icons/buy.svg' alt='' /></a>
      </button>

      <button class='need_to_hover'>
        <a href='/profile'><img src='/icons/account.svg' alt='' /></a>
      </button>
    </div>
  </header>
  <a href="/" id="back">Back /</a>
  <div id='content' class="container">
    <h1>My posts</h1>
    {{#if postCreated}}
    <p class='alert'>{{postCreated}}</p>
    {{/if}}

    {{#if postEdited}}
    <p class='alert'>{{postEdited}}</p>
    {{/if}}

    {{#if postError}}
    <p class='alert'>{{postError}}</p>
    {{/if}}
    {{#if courses.length}}
    {{#each courses}}
    <div class="row">
      <div class="col-md-4">
        <a href="/myposts/{{id}}" target="_blank" id="non_light">
          <div class="card">
            <div class="card-image">
              <img src="{{img}}" alt="{{title}}">
            </div>
            <div class="card-content">
              <span class="card-title">{{title}}</span>
              <p class="author">Author: {{userId.username}}</p>
              <p class="price">{{price}} $</p>
            </div>
            <div class="card-action actions">
              {{#if @root.isAuth}}
              <button type="submit" class="btn btn-primary" id="btn_edit"><a
                  href="/myposts/{{id}}/edit">Edit</a></button>
              {{/if}}
            </div>
          </div>
        </a>
      </div>
    </div>
    {{/each}}
    {{else}}
    <p id="no_cource">No courses!</p>
    {{/if}}
    <button id='btn_catalog'><a href="/myposts/add" id="add_post">Add post</a></button>
  </div>
  <div id="FOOTER">
    <div class='row'>
      <div class='col'>
        <div id='logo'>
          <button class='gradient'>
            <img src='/icons/logo.svg' alt='' />
          </button>
        </div>
      </div>
      <div class='col'>
        <div id='list_footer'>
          <ul>
            <li><a href='#' id='first_li'>Main</a></li>
            <li><a href='#'>Catalog</a></li>
            <li><a href='#'>Your Posts</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id='media'>
      <button class='gradient'>
        <img src='/icons/Instagram.svg' alt='' />
      </button>
      <button class='gradient'>
        <img src='/icons/twitter.svg' alt='' /></button>
      <button class='gradient'>
        <img src='/icons/linkedIn.svg' alt='' />
      </button>
    </div>

    <p class="foot">2023 NodeJs</p>
  </div>